.card {
  background-color: #f6f6f8;
  width: 20rem;
}

.imageStyle {
  width: 2rem; 
}

.countryInfoContainer {
  align-items: center;
  display: flex;
  margin-left: 1rem;
  width: 9rem; 
}

.listGroupInfo {
  align-items: center;
  display: flex;
  height: 64px; 
  justify-content: space-evenly;
}

.listGroupItem {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
}

.listGroupLabel {
  font-weight: 600;
  text-align: right;
  width: 8rem; 
}
